/* Adjust modal container */
.mat-dialog-container {
    max-width: 100vw; /* Set maximum width to viewport width */
    width: 100%; /* Ensure width is 100% of the container */
    height: 100%; /* Ensure height is 100% of the container */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Main container styling */
  .upload-modal-container {
    width: 90%;
    max-width: 400px; /* Set maximum width based on your design */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Hide horizontal overflow */
  }
  
  /* Header styling */
  .upload-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
    h2 {
      margin: 0;
    }
  
    .close-btn {
      background: none;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
      color: #888;
    }
  }
  
  /* Content styling */
  .upload-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  
    /* Preview screen styling */
.preview-screen {
    width: 100%;
    height: 150px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  /* Image preview styling */
  .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Video preview styling */
  .preview-video {
    width: 100%;
    height: 100%;
  }
  
  /* Audio preview styling */
  .preview-audio {
    width: 100%;
  }
  
  
    input[type="file"] {
      width: 100%;
      margin-bottom: 10px;
      /* Add specific styles for file input if needed */
    }
  
    .modal-btns {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
      
      /* Button styling */
      .upload-btn,
      .remove-btn {
        flex: 1;
        padding: 10px;
        background-color: #3498db;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-right: 5px;
      }
      
      /* Remove button styling */
      .remove-btn {
        background-color: #e74c3c;
      }}
  